.bg-image {
    background-image: url("../images/fundoeditado.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
}

.center-vertical {
    margin-top: 5%;
}

#rodape {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 6.2rem;
}

.c-green-lighten-3 {
    color: #a5d6a7;
}