body {
    background-image: url("../images/fundoeditado.png");
    content: "";
    background-size: 100%;
    margin: 0;
    font-family: 'Inconsolata', monospace;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1 0 auto;
    position: relative;
}

#x {
    z-index: auto;
    float: right;
}

#t {
    z-index: auto;
    width: 95%;
    float: right;
}

.itens {
    background-color: #26a69a;
    text-align: center;
}

.card {
    height: 200px;
    width: 300px;
}

.card-content {
    height: 10rem;
}

.card-action {
    height: 4rem;
}

#breveDescricao {
    resize: none;
    max-height: 40px;
    overflow-y: scroll;
}

#loginInfo {
    height: 170px;
}

#menuLateral>ul {
    width: 14rem;
    height: 150rem;
}

#rodape {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 6.2rem;
}

#rodape>div {
    height: 4px !important;
    z-index: 1000;
}

#rodape1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7rem;
}

#rodape1>div {
    height: 4px !important;
    z-index: 1000;
}

#imagemPerfil {
    width: 70px;
    height: 70px;
}

#nomePerfil {
    float: right;
    margin-right: 25px;
    margin-top: 25px;
}

.search {
    border: 1px solid grey;
    height: 35px;
    border-radius: 1rem;
}

#modalLerMais {
    width: 100%;
    height: 100%;
}

#rowP {
    margin-top: 50px;
    margin-bottom: 80px;
}