.bg-image {
    background-image: url("../images/pencils-1280558_960_720.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
}

.button-customized {
    border: 1px solid green !important;
    border-radius: 7px !important;
    width: 100%;
}

.mt-default {
    margin-top: 5% !important;
}

.header {
    padding-top: 10px;
}

.header h5 {
    padding-bottom: 15px;
}

.header .img-user {
    width: 100px;
    height: 100px;
}